.window {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.centered {
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.right {
    position: absolute;
    right: 0;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* bring your own prefixes */
}

.title {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.cam {
    width: 50%;
    height: 50%;
}

.fl {
    float: left;
    clear: right;
}

.fr>div {
    float: right;
    clear: right;
}

.fr {
    background-color: rgba(251, 0, 0, 0);
    border: none;
}