.window {
    position: relative;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.title {
    padding: 10px;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.cam {
    width: 50%;
    height: 50%;
}
.header-image{
    height:  5em;
    vertical-align: middle;
    position: relative;

}
.heading-box{
    max-height: 5em;
}
.header-title{
    max-height: 3em;

    margin: 0;
}
.header-text{
    max-height: 2em;
    margin: 0;
}



